import {
  to = aws_instance.{{instance_details.instance_name }}
  id = "{{ instance_details.instance_id }}"
}

{%- for volume in instance_details.Volumes %}
{% if volume.AttachmentType == 'data' %}
import {
  to = aws_ebs_volume.{{ volume.VolumeId}}
  id = "{{ volume.VolumeId}}"
}

import {
  to = aws_volume_attachment.{{ volume.VolumeId}}
  id = "{{ volume.Device ~ ':' ~ volume.VolumeId ~ ':' ~  instance_details.instance_id }}"
}

{% endif -%}
{% endfor -%}

{% if dns_exist %}
import {
  to = aws_route53_record.{{ instance_details.instance_name}}
  id = "{{ zone_id ~ '_' ~ instance_details.instance_name ~ '.' ~ zone_name }}_A"
}
{% endif %}
