{% if is_cluster == 'true' %}

import {
  to = aws_rds_cluster.{{ rds_cluster_identifier }}
  id = "{{ rds_cluster_identifier }}"
}

{%- if 'default.' not in cluster_parameter %}
import {
  to = aws_rds_cluster_parameter_group.{{ rds_cluster_identifier }}
  id = "{{ cluster_parameter }}"
}
{% endif -%}

{% if kms_key_id != "" %}
import {
  to = aws_kms_key.{{ rds_cluster_identifier }}
  id = "{{ kms_key_id }}"
}
{% endif -%}


{% for sg in security_groups %}
import {
  to = aws_security_group.{{ rds_cluster_identifier }}_cluster_{{ loop.index }}
  id = "{{ sg }}"
}
{% endfor -%}

{% for db_instance in cluster_instances %}
{% if is_aurora == true %}
import {
  to = aws_rds_cluster_instance.{{ db_instance.instance_identifier }}
  id = "{{ db_instance.instance_identifier }}"
}
{% else %}
import {
  to = aws_db_instance.{{ db_instance.instance_identifier }}
  id = "{{ db_instance.instance_identifier }}"
}
{% endif %}

{% for db_parameter_group in db_instance.db_parameter_group %}
{%- if 'default.' not in db_parameter_group %}

import {
  to = aws_db_parameter_group.{{ db_instance.instance_identifier }}
  id = "{{ db_parameter_group }}"
}

{% endif %}
{% endfor %}

{% endfor -%}
{% endif %}


{% if is_aurora == 'false' and is_cluster == 'false' %}

import {
  to = aws_db_instance.{{ instance_identifier }}
  id = "{{ instance_identifier }}"
}


{% if kms_key_id != "" %}
#import {
#  to = aws_kms_key.{{ instance_identifier }}
#  id = "{{ kms_key_id }}"
#}
{% endif -%}


{% for sg in security_groups %}
#import {
#  to = aws_security_group.{{ instance_identifier }}_instance_{{ loop.index }}
#  id = "{{ sg }}"
#}
{% endfor -%}

{% for db_param_group in db_parameter_groups %}
{%- if 'default.' not in db_param_group %}

import {
  to = aws_db_parameter_group.{{ instance_identifier }}_{{ loop.index }}
  id = "{{ db_param_group }}"
}
{% endif %}
{% endfor %}
{% endif %}

